@import '../../../../vendor/filament/filament/resources/css/theme.css';

.fi-simple-layout {
    @apply bg-slate-50;
}

.fi-sidebar {
    @apply !bg-gray-50 dark:!bg-gray-950;
}
.fi-topbar {
    background-color:bg-green-700;
}

.fi-main {
    background-color:bg-green-500;
}

.fi-table{
    background-color:bg-green-500;
}

.fi-navigation-item--active {
    background-color:bg-green-700;
}